.center_div {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#frame1, #frame2 {
    border: 3px dotted;
    width: 600px; /* Set the desired width for frame1 and frame2 */
    height: 400px; /* Set the desired height for frame1 and frame2 */
    margin: 10px; /* Adjust the margin as needed */
}

#frame3 {
    border: 3px dotted;
    width: 600px; /* Set the desired width for frame3 */
    height: 400px; /* Set the desired height for frame3 */
    margin: 10px; /* Adjust the margin as needed */
}
